/// Colors used for buttons, callouts, links, etc. There must always be a color called `primary`.
/// @type Map
$foundation-palette: (
  primary: #FB2C11,
  secondary: #c4c4c4,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
) !default;

/// Global value used for all elements that have a border radius.
/// @type Number
$global-radius: 0.5rem !default;
$white: #ffffff !default;
