$foundation-palette: (
  primary: #FB2C11,
  secondary: #c4c4c4,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$global-radius: 0.5rem;
$primary-color: map-get($foundation-palette, primary) !global;

// 11. Button
// ----------

$button-palette: $foundation-palette;
$button-radius: $global-radius !important;
$button-color: $white;
$button-color-alt: $white;

// 20. Forms
// ---------

$input-border: 1px solid $medium-gray;
$input-border-focus: 1px solid $dark-gray;
$input-shadow: none;
$input-shadow-focus: none;
$input-radius: $global-radius;
$form-button-radius: $global-radius;
